USE [master]
GO
/****** Object:  Database [test]    Script Date: 04/25/2021 3:16:44 PM ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 04/25/2021 3:16:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Notes] [nvarchar](max) NULL,
	[Date] [date] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Task] ([ID], [Title], [Notes], [Date], [Status]) VALUES (N'497900c4-c3fa-45be-ab8f-08ef5dd11d4c', N'test 2', N'               2222                         ', CAST(N'2021-04-26' AS Date), 2)
INSERT [dbo].[Task] ([ID], [Title], [Notes], [Date], [Status]) VALUES (N'0f98c20c-22f6-4d7c-9f4f-740f8fdb746a', N'test', N'                                        sasasa', CAST(N'2021-04-25' AS Date), 1)
/****** Object:  StoredProcedure [dbo].[GetVacancies]    Script Date: 04/25/2021 3:16:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetVacancies] 
	
AS
BEGIN
	SELECT *
	from 
Vacaion 
inner join Department on Vacaion.Department = Department.id

END
GO
USE [master]
GO
